---
    import Code from '../../public/img/code.svg'
    import Pen from '../../public/img/pen.svg'
    import Web from '../../public/img/web.svg'

---


<main class="mb-20">
    <div class="w-full mx-auto flex justify-center py-10">
        <h2 class="font-bold text-2xl">Our <span class="text-second-color">Services</span> </h2>
    </div>
    <section class="grid md:grid-cols-3 grid-cols-1 gap-10 justify-center">

        <div class="px-3 py-5 grid gap-5 bg-first-color rounded-md">
            <img loading="lazy" src={Code.src} alt="code" class="w-10 h-10 mx-auto">
            <h4 class="font-bold text-xl mx-auto">
                UI-UX Designer
            </h4>
            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus explicabo rerum nihil unde temporibus sint non! Debitis delectus, unde aliquid iure eius quisquam velit nemo expedita quidem illo a minus.
            </p>
            <div class="sticky w-fit h-fit flex items-center  mx-auto">
                <div class=" w-full h-full absolute blur bg-second-color -z-10 mt-5 p-2  rounded-xl "></div>
                <button class="flex items-center bg-second-color font-bold rounded-xl mt-5 p-2 " type="button">
                    Download CV
                </button>
            </div>
        </div>
    
        <div class="px-3 py-5 grid gap-5 bg-first-color rounded-md">
            <img loading="lazy" src={Pen.src} alt="pen" class="w-10 h-10 mx-auto">
            <h4 class="font-bold text-xl mx-auto">
                UI-UX Designer
            </h4>
            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus explicabo rerum nihil unde temporibus sint non! Debitis delectus, unde aliquid iure eius quisquam velit nemo expedita quidem illo a minus.
            </p>
            <div class="sticky w-fit h-fit flex items-center mx-auto">
                <div class=" w-full h-full absolute blur bg-second-color -z-10 mt-5 p-2  rounded-xl "></div>
                <button class="flex items-center bg-second-color font-bold rounded-xl mt-5 p-2 " type="button">
                    Download CV
                </button>
            </div>
        </div>
    
        <div  class=" px-3 py-5 grid gap-5 bg-first-color rounded-md">
            <img  loading="lazy" src={Web.src} alt="Web" class="w-10 h-10 mx-auto">
            <h4 class="font-bold text-xl mx-auto">
                UI-UX Designer
            </h4>
            <p class="text-center">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus explicabo rerum nihil unde temporibus sint non! Debitis delectus, unde aliquid iure eius quisquam velit nemo expedita quidem illo a minus.
            </p>
            <div class="sticky w-fit h-fit flex items-center mx-auto">
                <div class=" w-full h-full absolute blur bg-second-color -z-10 mt-5 p-2  rounded-xl "></div>
                <button class="flex items-center bg-second-color font-bold rounded-xl mt-5 p-2 " type="button">
                    Download CV
                </button>
            </div>
        </div>
    </>
</main>